# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local
*.pem
*.key

# Database
*.sqlite
*.sqlite3

# Frontend assets compiled code
public/assets
.playwright-mcp

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/
